.feature-box{
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgab($color-black, .4);
  transition: all .4s;
  &__icon{
    font-size: 6rem;
    margin-bottom: 4rem;
    display: inline-block;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
  }
  &:hover{
    transform: translateY(-1.5rem) scale(1.03) ;
  }
  &__text{
   color:$color-primary-dark;
  }
}